﻿@model IEnumerable<RedBull.Web.Models.FridgeDTO>

@{
    ViewBag.Title = "ShowFridgesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ShowFridgesList", "Fridge", FormMethod.Post, new { @class = "form-horizontal form-label-center" }))
{
    <div class="row" role="main">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Wyszukiwanie</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nazwa lodówki</label>
                        <div class="col-md-4 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Nazwa lodówki">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="">
                                <label>
                                    <input type="checkbox" class="js-switch" /> Tylko takie w których wystąpił błąd
                                </label>
                            </div>
                            <div class="">
                                <label>
                                    <input type="checkbox" class="js-switch" /> Tylko aktywne
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row grid_slider">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Liczba puszek</label>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <input type="text" id="range_min_max" value="" name="range" />
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Wyszukaj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Lista lodówek <small>RedBull</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p class="text-muted font-13 m-b-30">
                        Lista lodówek zawierająca wszystkie urządzenia zarejestrowane w systemie
                    </p>

                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Nazwa lodówki</th>
                                <th>Ostatnia aktywność</th>
                                <th>Aktywna</th>
                                <th>Liczba puszek</th>
                                <th>Pojemność</th>
                                <th>Problem z lodówką</th>
                                <th>Komunikat błędu</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@(item.FridgeId)</td>
                                    <td>@item.LastActivity</td>
                                    <td class="@(item.IsActive ? "green" : "red")" style="font-weight: bold;">@(item.IsActive ? "Tak" : "Nie")</td>
                                    <td class="@(item.NumberOfCans > 5 ? "green" : "red")" style="font-weight: bold;">@item.NumberOfCans</td>
                                    <td>@item.Capacity</td>
                                    <td class="@(item.FridgeError ? "red" : "green")" style="font-weight: bold;">@(item.FridgeError ? "Tak" : "Nie")</td>
                                    <td>@(item.ErrorText == null ? "Brak" : item.ErrorText)</td>
                                    <td>
                                        <a href="@Url.Action("ShowFridges", "Fridge", new {fridgeIdentity = @item.FridgeId})" style="padding: 5px; background-color: #73879C; color: white; text-decoration: none;">SZCZEGÓŁY</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@section sliderScripts
    {
    <!-- Ion.RangeSlider -->
    <script>

        $(document).ready(function () {
            $("#range_min_max").ionRangeSlider({
                type: "double",
                min: 0,
                max: 30,
                from: 5,
                to: 10,
                max_interval: 100
            });
        });

    </script>
    <!-- /Ion.RangeSlider -->
}


