﻿@model RedBull.Web.Models.FridgeDTO

@{
	ViewBag.Title = "ShowFridges";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
	<!-- top tiles -->
	<div class="row tile_count">
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Obecna liczba puszek</span>
			<div class="count @(Model.NumberOfCans > Model.SallesAvaragePerDay ? "green" : "red")">@Model.NumberOfCans</div>
			<span class="count_bottom">Średnio dziennie sprzedaję: @Model.SallesAvaragePerDay puszek</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-clock-o"></i> Pojemność</span>
			<div class="count ">@Model.Capacity</div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Ostatni raport</span>
			<div class="count">@Model.LastActivity.ToShortTimeString()</div>
			<span class="count_bottom">Raport odbywa się maksymalnie co 8 minut</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Czas od ostatniego raportu</span>
			<div class="count">@Model.LastActivityElapsed</div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Status lodówki</span>
			<div class="count @(Model.FridgeError ? "red" : "green")">@(Model.FridgeError ? "Wystąpił błąd" : "OK")</div>
			<span class="count_bottom">Lista błędów dostępna poniżej</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Aktywna?</span>
			<div class="count @(Model.IsActive ? "green" : "red")">@(Model.IsActive ? "Tak" : "Nie")</div>
			<span class="count_bottom">Informuje, czy lodówka jest włączona</span>
		</div>
	</div>
	<!-- /top tiles -->

	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Liczba puszek</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li>
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<canvas id="canvasDoughnut"></canvas>
			</div>
		</div>
	</div>

	<!-- start project-detail sidebar -->
	<div class="col-md-3 col-sm-3 col-xs-12">
		<section class="panel">
			<div class="x_title">
				<h2>Informacje o lodówce</h2>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<h4 class="green"><i class="fa fa-cube"></i>Nazwa Lodówki nr @(Model.FridgeId )</h4>
				<p>@Model.FridgeDescription</p>
				<br />
				<div class="project_detail">
					<p class="title">Nazwa klienta obsługującego lodówkę:</p>
					<p>@Model.ClientName</p>
					<p class="title">Osoba odpowiedzialna za zaopatrzenie:</p>
					<p>@Model.FridgeManagerName</p>
				</div>
				<br />
				<h5>Informacje dodatkowe</h5>
				<ul class="list-unstyled project_files">
					<li>
						<a href=""><i class="fa fa-mobile-phone"></i>tel. @Model.PhoneNumber</a>
					</li>
					<li>
						<a href=""><i class="fa fa-briefcase"></i> @Model.EmailAddress</a>
					</li>
					<li>
						<a href=""><i class="fa fa-map-marker"></i> @Model.Address</a>
					</li>
				</ul>
				<br />
			</div>
		</section>
	</div>
	<!-- end project-detail sidebar -->

	<!-- Localization -->
	<div class="col-md-4 col-sm-3 col-xs-12">
		<section class="panel">
			<div class="x_title">
				<h2>Lokalizacja lodówki</h2>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<div class="map-responsive">
				    <iframe
				        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDkacvrrjIzWKMqi5oo7vGSTzgCsuu7gcQ&q=@(Model.QueryFormattedAdress)"
				        width="100%"
				        height="100%"
				        frameborder="0"
				        allowfullscreen>
				    </iframe>
				</div>
			</div>
		</section>
	</div>
	<!-- Localization -->

	<!-- Errors -->
	<div class="col-md-4 col-sm-2 col-xs-12">
		<div class="x_panel">
			<div class="x_content">
				<a href="@Url.Action("ShowErrorsList", "Error", new { fridgeId = @Model.FridgeId })" style="padding: 5px; background-color: #73879C; color: white; text-decoration: none; width: 100%;">LISTA BŁĘDÓW LODÓWKI</a>
			</div>
		</div>
	</div>
	<!-- Errors -->

	<!-- Line hart -->
	<div class="col-md-11 col-sm-6 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Wykres wypełnienia</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li>
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<canvas id="lineChart"></canvas>
			</div>
		</div>
	</div>
	<!-- /Line hart -->

	<!-- Line hart parameters
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Parametry wykresu wypełnienia</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li>
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<p class="text-muted">Dokładność</p>
				<div class="row">
					<div class='col-sm-8'>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-default">
								<input type="radio" name="timeSpan" id="timeSpan" value="60"> godzina
							</label>
							<label class="btn btn-default">
								<input type="radio" name="timeSpan" id="timeSpan" value="30"> 30 minut
							</label>
							<label class="btn btn-default">
								<input type="radio" name="timeSpan" id="timeSpan" value="15"> 15 minut
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Line hart parameters-->

	<!-- Line hart parameters
	<div class="col-md-11 col-sm-11 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Parametry wykresu wypełnienia</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li>
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<p class="text-muted">Granice czasowe</p>
				<div class="row">
					<div class='col-sm-6'>
						<div class="form-group">
							<div class='input-group date' id='datetimepickerFrom'>
								@Html.TextBoxFor(model => model.DateTimeFromString, new { @class="form-control" })
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
					</div>
					<div class='col-sm-6'>
						<div class="form-group">
							<div class='input-group date' id='datetimepickerTo'>
								@Html.TextBoxFor(model => model.DateTimeToString, new { @class = "form-control" })
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Line hart parameters-->

		<!-- Line hart parameters -->
	<div class="col-md-11 col-sm-6 col-xs-12">
		<div class="x_panel">
			<div class="x_content center">
				<div class="row center">
					<div class="col-sm-12 col-md-offset-4">
						<button class="btn btn-info col-sm-4">Resetuj</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Line hart parameters -->

	@section chartsScripts
	{
		<script>
			// Doughnut chart
			var ctx = document.getElementById("canvasDoughnut");
			var data = {
				labels: [
					"Pusta",
					"Zapełniona"
				],
				datasets: [{
					data: [@Model.Capacity - @Model.NumberOfCans, @Model.NumberOfCans],
					backgroundColor: [
						"#E64949",
						"#77CA41"
					],
					hoverBackgroundColor: [
						"#34495E",
						"#B370CF"
					]

				}]
			};

			var canvasDoughnut = new Chart(ctx, {
				type: 'doughnut',
				tooltipFillColor: "rgba(51, 51, 51, 0.55)",
				data: data
			});


		function generateChart(data) {
			var timeFormat = 'MM/DD/YYYY HH:mm';

			function resetZoom() {
				window.myLine.resetZoom()
			}
			var config = {
				type: 'line'
				, data: {
					datasets: [{
						label: "Ilość puszek w lodówce"
						, data: data
						, fill: false
						, backgroundColor: "rgba(38, 185, 154, 0.31)"
						, borderColor: "rgba(38, 185, 154, 0.7)"
						, pointBorderColor: "rgba(38, 185, 154, 0.7)"
						, pointBackgroundColor: "rgba(38, 185, 154, 0.7)"
						, pointHoverBackgroundColor: "#fff"
						, pointHoverBorderColor: "rgba(220,220,220,1)"
						, pointBorderWidth: 1
						, lineTension: 0
						, steppedLine: true
				}]
				}
				, options: {
					responsive: true
					, title: {
						display: false
						, text: "Chart.js Time Scale"
					}
					, scales: {
						xAxes: [{
							type: "time"
							, time: {
								displayFormats: {
									'millisecond': 'HH:mm DD-MM-YY'
									, 'second': 'HH:mm DD-MM-YY'
									, 'minute': 'HH:mm DD-MM-YY'
									, 'hour': 'HH:mm DD-MM-YY'
									, 'day': 'DD-MM-YY'
									, 'week': 'DD-MM-YY'
									, 'month': 'DD-MM-YY'
									, 'quarter': 'DD-MM-YY'
									, 'year': 'DD-MM-YY'
								, }
								, tooltipFormat: 'HH:mm DD-MM-YY'
							}
							, scaleLabel: {
								display: false
								, labelString: 'Data'
							}
							, ticks: {
								beginAtZero: true
								, maxRotation: 45
								, minRotation: 45
							}
					}, ]
						, yAxes: [{
							scaleLabel: {
								display: false
								, labelString: 'ilość puszek'
							}
					}]
					}
					, pan: {
						enabled: true
						, mode: 'xy'
					}
					, zoom: {
						enabled: true
						, mode: 'xy'
						, limit: {
							max: 10
							, min: 0.5
						}
					}
				}
			};
			var ctx = document.getElementById("lineChart").getContext("2d");
			window.myLine = new Chart(ctx, config);
		};
		window.onload = function () {
			function newDate() {
				return moment().format();
			}

			function newDateBefore() {
				return date = moment().subtract(5, 'day').format();
			}

			var data = {
				fromDate: newDateBefore(), //'2016-08-01T00:00:00'
				toDate: newDate(), //'2016-08-05T00:00:00'
				scale: 0
			};

			$.ajax({
				url: '/api/FridgeApi/GetModels'
				, data: data
				, method: 'POST'
				, dataType: 'json'
			}).done(function (response) {
				generateChart(response);
			});

			$('.btn-info').click(function(e) {
				var data = {
					fromDate: newDateBefore(),
					toDate: newDate(),
					scale: 0
				};

				e.preventDefault();
												
				$.ajax({
					url: '/api/FridgeApi/GetModels'
						, data: data
						, method: 'POST'
						, dataType: 'json'
				}).done(function (response) {
					chartInstance = Chart.instances[1];
					window.myLine.resetZoom();
					chartInstance.chart.config.data.datasets[0].data = response;
					chartInstance.update(0);
				});
			});
		};

		</script>
		 <script>
			 var keys = {37: 1, 38: 1, 39: 1, 40: 1};

			 function preventDefault(e) {
				 e = e || window.event;
				 if (e.preventDefault)
					 e.preventDefault();
				 e.returnValue = false;  
			 }

			 function preventDefaultForScrollKeys(e) {
				 if (keys[e.keyCode]) {
					 preventDefault(e);
					 return false;
				 }
			 }

			 function disableScroll() {
				 if (window.addEventListener) // older FF
					 window.addEventListener('DOMMouseScroll', preventDefault, false);
				 window.onwheel = preventDefault; // modern standard
				 window.onmousewheel = document.onmousewheel = preventDefault; // older browsers, IE
				 window.ontouchmove  = preventDefault; // mobile
				 document.onkeydown  = preventDefaultForScrollKeys;
			 }

			 function enableScroll() {
				 if (window.removeEventListener)
					 window.removeEventListener('DOMMouseScroll', preventDefault, false);
				 window.onmousewheel = document.onmousewheel = null; 
				 window.onwheel = null; 
				 window.ontouchmove = null;  
				 document.onkeydown = null;  
			 }


			(function e(t, n, r) {
				function s(o, u) {
					if (!n[o]) {
						if (!t[o]) {
							var a = typeof require == "function" && require;
							if (!u && a) return a(o, !0);
							if (i) return i(o, !0);
							var f = new Error("Cannot find module '" + o + "'");
							throw f.code = "MODULE_NOT_FOUND", f
						}
						var l = n[o] = {
							exports: {}
						};
						t[o][0].call(l.exports, function (e) {
							var n = t[o][1][e];
							return s(n ? n : e)
						}, l, l.exports, e, t, n, r)
					}
					return n[o].exports
				}
				var i = typeof require == "function" && require;
				for (var o = 0; o < r.length; o++) s(r[o]);
				return s
			})({
				1: [function (require, module, exports) {}, {}]
				, 2: [function (require, module, exports) {
					// hammer JS for touch support
					var Hammer = require('hammerjs');
					Hammer = typeof (Hammer) === 'function' ? Hammer : window.Hammer;
					// Get the chart variable
					var Chart = require('chart.js');
					Chart = typeof (Chart) === 'function' ? Chart : window.Chart;
					var helpers = Chart.helpers;
					// Take the zoom namespace of Chart
					var zoomNS = Chart.Zoom = Chart.Zoom || {};
					// Where we store functions to handle different scale types
					var zoomFunctions = zoomNS.zoomFunctions = zoomNS.zoomFunctions || {};
					var panFunctions = zoomNS.panFunctions = zoomNS.panFunctions || {};
					// Default options if none are provided
					var defaultOptions = zoomNS.defaults = {
						pan: {
							enabled: true
							, mode: 'xy'
							, threshold: 10
						, }
						, zoom: {
							enabled: true
							, mode: 'xy'
							, level: 0
							, limit: {
								max: 10
								, min: 0.5
							}
							, deep: { in : 1.1, out: 0.9
							}
						, }
					};

					function directionEnabled(mode, dir) {
						if (mode === undefined) {
							return true;
						}
						else if (typeof mode === 'string') {
							return mode.indexOf(dir) !== -1;
						}
						return false;
					}

					function zoomIndexScale(scale, zoom, center) {}

					function zoomTimeScale(scale, zoom, center) {
						var options = scale.options;
						var range;
						var min_percent;
						if (scale.isHorizontal()) {
							range = scale.right - scale.left;
							min_percent = (center.x - scale.left) / range;
						}
						else {
							range = scale.bottom - scale.top;
							min_percent = (center.y - scale.top) / range;
						}
						var max_percent = 1 - min_percent;
						var newDiff = range * (zoom - 1);
						var minDelta = newDiff * min_percent;
						var maxDelta = newDiff * max_percent;
						options.time.min = scale.getValueForPixel(scale.getPixelForValue(scale.firstTick) + minDelta);
						options.time.max = scale.getValueForPixel(scale.getPixelForValue(scale.lastTick) - maxDelta);
					}

					function zoomNumericalScale(scale, zoom, center) {
						var range = scale.max - scale.min;
						var newDiff = range * (zoom - 1);
						var cursorPixel = scale.isHorizontal() ? center.x : center.y;
						var min_percent = (scale.getValueForPixel(cursorPixel) - scale.min) / range;
						var max_percent = 1 - min_percent;
						var minDelta = newDiff * min_percent;
						var maxDelta = newDiff * max_percent;
						scale.options.ticks.min = scale.min + minDelta;
						scale.options.ticks.max = scale.max - maxDelta;
					}

					function zoomScale(scale, zoom, center) {
						var fn = zoomFunctions[scale.options.type];
						if (fn) {
							fn(scale, zoom, center);
						}
					}

					function doZoom(chartInstance, zoom, center) {
						var ca = chartInstance.chartArea;
						if (!center) {
							center = {
								x: (ca.left + ca.right) / 2
								, y: (ca.top + ca.bottom) / 2
							, };
						}
						var xAxis = chartInstance.scales['x-axis-0'];
						var firstTickAxis = xAxis.ticks[0];
						var lastTickAxis = xAxis.ticks[xAxis.ticks.length - 1];

						String.prototype.reverseDate= function(){
							var date = this;
							var dateArray = this.split(/[ -]+/);
							var b = dateArray[1];
							var newDate = "";
							dateArray[1] = dateArray[2];
							dateArray[2] = b;
							newDate = dateArray[0] + " " + dateArray[1] + "-" + dateArray[2] + "-" + dateArray[3];
							return newDate;
						}

						Date.prototype.toUTCArray= function(){
							var D= this;
							return [D.getUTCFullYear(), D.getUTCMonth(), D.getUTCDate(), D.getUTCHours(),
							D.getUTCMinutes(), D.getUTCSeconds()];
						}

						Date.prototype.toISO= function(){
							//this.setHours(this.getHours() + 2 );
							var tem, A= this.toUTCArray(), i= 0;
							A[1]+= 1;
							while(i++<7){
								tem= A[i];
								if(tem<10) A[i]= '0'+tem;
							}
							return A.splice(0, 3).join('-')+'T'+A.join(':');    
						}

						var firstTick = new Date(firstTickAxis.reverseDate());
						var secondTick = new Date(lastTickAxis.reverseDate());
						var diff = Math.abs(firstTick.getTime() - secondTick.getTime()) / 3600000;
						var zoomValue = 0;
						var points = chartInstance.config.data.datasets[0].data;
						var firstPoint = points[0];
						var lastPoint = points[points.length - 1];
						/*
						if (diff > 80 && defaultOptions.zoom.level != 0) {
							zoomValue = 0;
						} else if (diff < 80 && diff > 50 && defaultOptions.zoom.level != 1) {
							zoomValue= 1;
						} else if (diff < 50 && diff > 30 && defaultOptions.zoom.level != 2) {
							zoomValue = 2;
						} else if (diff < 30 && defaultOptions.zoom.level != 3) {
							zoomValue = 3;
						} else {
							zoomValue = false;
						}
					  
						if (zoomValue == 3) {
							$('#lineChart').parent().addClass('load_data');
							disableScroll();
							var data = {
								fromDate: firstTick.toISO(),
								toDate: secondTick.toISO(),
								scale: 3
							};

							$.ajax({
								url: '/api/FridgeApi/GetModels'
									, data: data
									, method: 'POST'
									, dataType: 'json'
							}).done(function (response) {
								chartInstance.chart.config.data.datasets[0].data = response;
								chartInstance.update(0);
								$('#lineChart').parent().removeClass('load_data');
								enableScroll();
								defaultOptions.zoom.level = 3;
							});
						} else if (zoomValue == 2) {
							$('#lineChart').parent().addClass('load_data');
							disableScroll();
							var data = {
								fromDate: firstTick.toISO(),
								toDate: secondTick.toISO(),
								scale: 2
							};

							$.ajax({
								url: '/api/FridgeApi/GetModels'
									, data: data
									, method: 'POST'
									, dataType: 'json'
							}).done(function (response) {
								chartInstance.chart.config.data.datasets[0].data = response;
								chartInstance.update(0);
								$('#lineChart').parent().removeClass('load_data');
								enableScroll();
								defaultOptions.zoom.level = 2;
							});
						}
						else if (zoomValue == 1) {
							$('#lineChart').parent().addClass('load_data');
							disableScroll();
							var data = {
								fromDate: firstTick.toISO(),
								toDate: secondTick.toISO(),
								scale: 1
							};
												
							$.ajax({
								url: '/api/FridgeApi/GetModels'
									, data: data
									, method: 'POST'
									, dataType: 'json'
							}).done(function (response) {
								chartInstance.chart.config.data.datasets[0].data = response;
								chartInstance.update(0);
								$('#lineChart').parent().removeClass('load_data');
								enableScroll();
								defaultOptions.zoom.level = 1;
							});
						} else if (zoomValue === 0) {
							$('#lineChart').parent().addClass('load_data');
							disableScroll();
							var data = {
								fromDate: firstTick.toISO(),
								toDate: secondTick.toISO(),
								scale: 0
							};
												
							$.ajax({
								url: '/api/FridgeApi/GetModels'
									, data: data
									, method: 'POST'
									, dataType: 'json'
							}).done(function (response) {
								chartInstance.chart.config.data.datasets[0].data = response;
								chartInstance.update(0);
								$('#lineChart').parent().removeClass('load_data');
								enableScroll();
								defaultOptions.zoom.level = 0;
							});
						}  
						*/

						var zoomOptions = chartInstance.options.zoom;
						if (zoomOptions && helpers.getValueOrDefault(zoomOptions.enabled, defaultOptions.zoom.enabled)) {
							// Do the zoom here
							var zoomMode = helpers.getValueOrDefault(chartInstance.options.zoom.mode, defaultOptions.zoom.mode);
							helpers.each(chartInstance.scales, function (scale, id) {
								if (scale.isHorizontal() && directionEnabled(zoomMode, 'x')) {
									zoomScale(scale, zoom, center);
								}
								else if (directionEnabled(zoomMode, 'y')) {
									// Do Y zoom
									zoomScale(scale, zoom, center);
								}
							});
							chartInstance.update(0);
						}
					}

					function panIndexScale(scale, delta) {
						/*var options = scale.options;
						var labels = scale.chart.data.labels;
						var lastLabelIndex = labels.length - 1;
			
						var minIndex = Math.max(0, Math.round(scale.getValueForPixel(scale.getPixelForValue(null, scale.minIndex, null, true) - delta)));
						var maxIndex = Math.min(lastLabelIndex, Math.round(scale.getValueForPixel(scale.getPixelForValue(null, scale.maxIndex, null, true) - delta)))
						options.ticks.min = labels[minIndex];
						options.ticks.max = labels[maxIndex];*/
					}

					function panTimeScale(scale, delta) {
						var options = scale.options;
						options.time.min = scale.getValueForPixel(scale.getPixelForValue(scale.firstTick) - delta);
						options.time.max = scale.getValueForPixel(scale.getPixelForValue(scale.lastTick) - delta);
					}

					function panNumericalScale(scale, delta) {
						var tickOpts = scale.options.ticks;
						var start = scale.start
							, end = scale.end;
						if (tickOpts.reverse) {
							tickOpts.max = scale.getValueForPixel(scale.getPixelForValue(start) - delta);
							tickOpts.min = scale.getValueForPixel(scale.getPixelForValue(end) - delta);
						}
						else {
							tickOpts.min = scale.getValueForPixel(scale.getPixelForValue(start) - delta);
							tickOpts.max = scale.getValueForPixel(scale.getPixelForValue(end) - delta);
						}
					}

					function panScale(scale, delta) {
						var fn = panFunctions[scale.options.type];
						if (fn) {
							fn(scale, delta);
						}
					}

					function doPan(chartInstance, deltaX, deltaY) {
						var panOptions = chartInstance.options.pan;
						if (panOptions && helpers.getValueOrDefault(panOptions.enabled, defaultOptions.pan.enabled)) {
							var panMode = helpers.getValueOrDefault(chartInstance.options.pan.mode, defaultOptions.pan.mode);
							helpers.each(chartInstance.scales, function (scale, id) {
								if (scale.isHorizontal() && directionEnabled(panMode, 'x') && deltaX !== 0) {
									panScale(scale, deltaX);
								}
								else if (!scale.isHorizontal() && directionEnabled(panMode, 'y') && deltaY !== 0) {
									panScale(scale, deltaY);
								}
							});
							chartInstance.update(0);
						}
					}

					function positionInChartArea(chartInstance, position) {
						return (position.x >= chartInstance.chartArea.left && position.x <= chartInstance.chartArea.right) && (position.y >= chartInstance.chartArea.top && position.y <= chartInstance.chartArea.bottom);
					}

					function getYAxis(chartInstance) {
						var scales = chartInstance.scales;
						for (var scaleId in scales) {
							var scale = scales[scaleId];
							if (!scale.isHorizontal()) {
								return scale;
							}
						}
					}
					// Store these for later
					zoomNS.zoomFunctions.category = zoomIndexScale;
					zoomNS.zoomFunctions.time = zoomTimeScale;
					zoomNS.zoomFunctions.linear = zoomNumericalScale;
					zoomNS.zoomFunctions.logarithmic = zoomNumericalScale;
					zoomNS.panFunctions.category = panIndexScale;
					zoomNS.panFunctions.time = panTimeScale;
					zoomNS.panFunctions.linear = panNumericalScale;
					zoomNS.panFunctions.logarithmic = panNumericalScale;
					// Chartjs Zoom Plugin
					var zoomPlugin = {
						afterInit: function (chartInstance) {
							helpers.each(chartInstance.scales, function (scale) {
								scale.originalOptions = JSON.parse(JSON.stringify(scale.options));
							});
							chartInstance.resetZoom = function () {
								helpers.each(chartInstance.scales, function (scale, id) {
									var timeOptions = scale.options.time;
									var tickOptions = scale.options.ticks;
									if (timeOptions) {
										delete timeOptions.min;
										delete timeOptions.max;
									}
									if (tickOptions) {
										delete tickOptions.min;
										delete tickOptions.max;
									}
									scale.options = helpers.configMerge(scale.options, scale.originalOptions);
								});
								helpers.each(chartInstance.data.datasets, function (dataset, id) {
									dataset._meta = null;
								});
								chartInstance.update();
							};
						}
						, beforeInit: function (chartInstance) {
							var node = chartInstance.chart.ctx.canvas;
							var options = chartInstance.options;
							var panThreshold = helpers.getValueOrDefault(options.pan ? options.pan.threshold : undefined, zoomNS.defaults.pan.threshold);
							if (options.zoom.drag) {
								// Only want to zoom horizontal axis
								options.zoom.mode = 'x';
								node.addEventListener('mousedown', function (event) {
									chartInstance._dragZoomStart = event;
								});
								node.addEventListener('mousemove', function (event) {
									if (chartInstance._dragZoomStart) {
										chartInstance._dragZoomEnd = event;
										chartInstance.update(0);
									}
									chartInstance.update(0);
								});
								node.addEventListener('mouseup', function (event) {
									if (chartInstance._dragZoomStart) {
										var chartArea = chartInstance.chartArea;
										var yAxis = getYAxis(chartInstance);
										var beginPoint = chartInstance._dragZoomStart;
										var startX = Math.min(beginPoint.x, event.x);
										var endX = Math.max(beginPoint.x, event.x);
										var dragDistance = endX - startX;
										var chartDistance = chartArea.right - chartArea.left;
										var zoom = 1 + ((chartDistance - dragDistance) / chartDistance);
										if (dragDistance > 0) {
											doZoom(chartInstance, zoom, {
												x: (dragDistance / 2) + startX
												, y: (yAxis.bottom - yAxis.top) / 2
											, });
										}
										chartInstance._dragZoomStart = null;
										chartInstance._dragZoomEnd = null;
									}
								});
							}
							else {
								var wheelHandler = function (e) {
									e.preventDefault();
									var rect = e.target.getBoundingClientRect();
									var offsetX = e.clientX - rect.left;
									var offsetY = e.clientY - rect.top;
									chartInstance.options.zoom.deep = chartInstance.options.zoom.deep || defaultOptions.zoom.deep;
									var center = {
										x: offsetX
										, y: offsetY
									};
									if (e.deltaY < 0) {
										doZoom(chartInstance, chartInstance.options.zoom.deep.out, center);
									}
									else {
										doZoom(chartInstance, chartInstance.options.zoom.deep.in, center);
									}
								};
								chartInstance._wheelHandler = wheelHandler;
								node.addEventListener('wheel', wheelHandler);
							}
							if (Hammer) {
								var mc = new Hammer.Manager(node);
								mc.add(new Hammer.Pinch());
								mc.add(new Hammer.Pan({
									threshold: panThreshold
								}));
								// Hammer reports the total scaling. We need the incremental amount
								var currentPinchScaling;
								var handlePinch = function handlePinch(e) {
									var diff = 1 / (currentPinchScaling) * e.scale;
									doZoom(chartInstance, diff, e.center);
									// Keep track of overall scale
									currentPinchScaling = e.scale;
								};
								mc.on('pinchstart', function (e) {
									currentPinchScaling = 1; // reset tracker
								});
								mc.on('pinch', handlePinch);
								mc.on('pinchend', function (e) {
									handlePinch(e);
									currentPinchScaling = null; // reset
								});
								var currentDeltaX = null
									, currentDeltaY = null;
								var currentDeltaXOrg = null;
								var handlePan = function handlePan(e) {
									if (currentDeltaX !== null && currentDeltaY !== null) {
										var deltaX = e.deltaX - currentDeltaX;
										var deltaY = e.deltaY - currentDeltaY;
										currentDeltaX = e.deltaX;
										currentDeltaY = e.deltaY;
										doPan(chartInstance, deltaX, deltaY);
									}
								};

								function getPoints(e) {
									var points = chartInstance.config.data.datasets[0].data;
									var firstTick = chartInstance.scales["x-axis-0"].ticks[0];
									var lastTick = chartInstance.scales["x-axis-0"].ticks[chartInstance.scales["x-axis-0"].ticks.length - 1];

									var firstPoint = points[0];
									var lastPoint = points[points.length - 1];

									String.prototype.reverseDate= function(){
										var date = this;
										var dateArray = this.split(/[ -]+/);
										if (dateArray[0].indexOf(':') != -1) {
											var b = dateArray[1];
											var newDate = "";
											dateArray[1] = dateArray[2];
											dateArray[2] = b;
											newDate = dateArray[0] + " " + dateArray[1] + "-" + dateArray[2] + "-" + dateArray[3];
											return newDate;
										} else {
											var b = dateArray[0];
											var newDate = "";
											dateArray[0] = dateArray[1];
											dateArray[1] = b;
											newDate = dateArray[0] + "-" + dateArray[1] + "-" + dateArray[2];
											return newDate;
										}
									}

									Date.prototype.toUTCArray= function(){
										var D= this;
										return [D.getUTCFullYear(), D.getUTCMonth(), D.getUTCDate(), D.getUTCHours(),
										D.getUTCMinutes(), D.getUTCSeconds()];
									}

									Date.prototype.toISO= function(){
										//this.setHours(this.getHours() + 2 );
										var tem, A= this.toUTCArray(), i= 0;
										A[1]+= 1;
										while(i++<7){
											tem= A[i];
											if(tem<10) A[i]= '0'+tem;
										}
										return A.splice(0, 3).join('-')+'T'+A.join(':');    
									}

									var lastTickISO = new Date(lastTick.reverseDate());
									var firstTickISO = new Date(firstTick.reverseDate());

									function filterByDateLeft(obj) {
										if ('x' in obj && obj.x.indexOf(lastTickISO.toISO()) != -1) {
											return true;
										}
										else {
											return false;
										}
									}

									function filterByDateRight(obj) {
										if ('x' in obj && obj.x.indexOf(firstTickISO.toISO()) != -1) {
											return true;
										}
										else {
											return false;
										}
									}

									if (e.additionalEvent == "panleft") {
										var arrByDate = points.filter(filterByDateLeft);
										var date = new Date(lastPoint.x);
										if (arrByDate) {
											if (!arrByDate.length) {
												var data = {
													fromDate: date.toISO(),
													toDate: lastTickISO.toISO(),
													scale: defaultOptions.zoom.level
												};

												$.ajax({
													url: '/api/FridgeApi/GetModels'
														, data: data
														, method: 'POST'
														, dataType: 'json'
												}).done(function (response) {
													response.shift();
													var newPointsGroup = chartInstance.chart.config.data.datasets[0].data.concat(response);
													chartInstance.chart.config.data.datasets[0].data = newPointsGroup;
													chartInstance.update(0);
												});
											}
									}
									}

									else if (e.additionalEvent == "panright") {
										var arrByDate = points.filter(filterByDateRight);
										var date = new Date(firstPoint.x);
										if (arrByDate) {

										if (!arrByDate.length) {
										var data = {
											fromDate: firstTickISO.toISO(),
											toDate: date.toISO(),
											scale: defaultOptions.zoom.level
										};


										$.ajax({
											url: '/api/FridgeApi/GetModels'
												, data: data
												, method: 'POST'
												, dataType: 'json'
										}).done(function (response) {
											response.pop();
											var newPointsGroup = response.concat(chartInstance.chart.config.data.datasets[0].data);
											chartInstance.chart.config.data.datasets[0].data = newPointsGroup;
											chartInstance.update(0);
										});
										}
										}
									}
								}
								mc.on('panstart', function (e) {
									currentDeltaX = 0;
									currentDeltaY = 0;
									handlePan(e);
								});
								mc.on('panmove', handlePan);
								mc.on('panend', function (e) {
									currentDeltaX = null;
									currentDeltaY = null;
									getPoints(e);
								});
								chartInstance._mc = mc;
							}
						}
						, beforeDatasetsDraw: function (chartInstance) {
							var ctx = chartInstance.chart.ctx;
							var chartArea = chartInstance.chartArea;
							ctx.save();
							ctx.beginPath();
							if (chartInstance._dragZoomEnd) {
								var yAxis = getYAxis(chartInstance);
								var beginPoint = chartInstance._dragZoomStart;
								var endPoint = chartInstance._dragZoomEnd;
								var startX = Math.min(beginPoint.x, endPoint.x);
								var endX = Math.max(beginPoint.x, endPoint.x);
								var rectWidth = endX - startX;
								ctx.fillStyle = 'rgba(225,225,225,0.3)';
								ctx.lineWidth = 5;
								ctx.fillRect(startX, yAxis.top, rectWidth, yAxis.bottom - yAxis.top);
							}
							ctx.rect(chartArea.left, chartArea.top, chartArea.right - chartArea.left, chartArea.bottom - chartArea.top);
							ctx.clip();
						}
						, afterDatasetsDraw: function (chartInstance) {
							chartInstance.chart.ctx.restore();
						}
						, destroy: function (chartInstance) {
							var node = chartInstance.chart.ctx.canvas;
							node.removeEventListener('wheel', chartInstance._wheelHandler);
							var mc = chartInstance._mc;
							if (mc) {
								mc.remove('pinchstart');
								mc.remove('pinch');
								mc.remove('pinchend');
								mc.remove('panstart');
								mc.remove('pan');
								mc.remove('panend');
							}
						}
					};
					Chart.pluginService.register(zoomPlugin);
				}, {
					"chart.js": 1
					, "hammerjs": 1
				}]
			}, {}, [2]);

		</script>
	}

	@section dateTimeScripts
	{
		<script type="text/javascript">
			//DateTime pickers
			$(function () {
				$('#datetimepickerTo').datetimepicker({
					locale: 'pl'
				});
			});

			$(function () {
				$('#datetimepickerFrom').datetimepicker({
					locale: 'pl'
				});
			});
</script>
	}
}