﻿@model IEnumerable<RedBull.Web.Models.ErrolLogDTO>

@{
    ViewBag.Title = "ShowErrorsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ShowErrorsList", "Error", FormMethod.Post, new { @class = "form-horizontal form-label-center" }))
{
    <div class="row" role="main">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Wyszukiwanie</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nazwa lodówki</label>
                        <div class="col-md-4 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Nazwa lodówki">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="">
                                <label>
                                    <input type="checkbox" class="js-switch" /> Tylko dezaktywujące lodówkę
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Wyszukaj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Lista błędów</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p class="text-muted font-13 m-b-30">
                        Lista błędów
                    </p>

                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Nazwa lodówki</th>
                                <th>Błąd</th>
                                <th>Aktywna</th>
                                <th>Data Błędu</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@(item.FridgeId)</td>
                                    <td>@item.ErrorText</td>
                                    <td class="@(item.IsActive ? "green" : "red")" style="font-weight: bold;" >@(item.IsActive ? "Tak" : "Nie")</td>
                                    <td>@item.CreatedDate</td>
                                    <td>
                                        <a href="@Url.Action("ShowFridges", "Fridge", new { fridgeIdentity = @item.FridgeId })" style="padding: 5px; background-color: #73879C; color: white; text-decoration: none;">WYŚWIETL LODÓWKĘ</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
